[submodule "hypercore-protocol-rs"]
	path = hypercore-protocol-rs
	url = https://github.com/datrs/hypercore-protocol-rs.git
[submodule "hypercore"]
	path = hypercore
	url = https://github.com/datrs/hypercore.git
